.parent {
  display: grid;
  height: 100vh;
  grid-area: span;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.ch {
  border: 2px solid black;
  background-color: aquamarine;
  margin: 2rem;
}
.ch1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.ch2 {
  grid-column-start: 2;
  grid-column-end: 4;
}
