.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: aquamarine;
  height: 100vh;
}
.ch {
  border: 2px solid black;
  margin: 5px;
  background-color: aqua;
}
.ch1 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.ch2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}
.ch3 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.ch4 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.ch5 {
  grid-column-start: 2;
  grid-column-end: 4;
}
.ch6 {
  grid-column-start: 1;
  grid-column-end: 4;
}
