.box {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 20px;
  background-color: pink;
}
.heading {
  padding: 5px;
  color: white;
}
.content {
  color: white;
}
.bottom {
  padding: 10px;
}
.button {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  color: black;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  font-weight: bold;
}
