.dashboard-parent {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 80px auto;
}
.child {
  background-color: white;
}
.dashboard-child1 {
  text-align: start;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  color: white;
  background-color: rgb(126, 77, 173);
}
.dashboard-child1 h1 {
  margin-bottom: 150px;
  margin-left: 50px;
  font-weight: 900;
}

.dashboard-child1 ul li {
  display: block;
  margin-top: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.dashboard-child1 ul li a {
  color: white;
  text-decoration: none;
}
.dashboard-child1 button {
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 40px;
  font-weight: 600;
  border-radius: 5px;
}
.dashboard-child2 {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgb(230, 230, 126);
  display: flex;
  justify-content: space-between;
  grid-template-rows: 1fr 1fr;
}
.child2-1 {
  display: flex;
  align-items: center;
  padding: 20px 40px;
}
.child2-1 h1 {
  font-size: 2rem;
  font-weight: 900;
}

.child2-2 {
  padding: 20px;
  display: flex;
  align-items: center;
}
.child2-2 h1 {
  font-size: 2rem;
  font-weight: 900;
}

.dashboard-child3 {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.table {
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table tr {
  line-height: 5rem;
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
.table tr th {
  padding: 0 3rem;
  background-color: rgb(177, 177, 241);
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.table tr td {
  padding: 0 3rem;
}

.table tr:nth-child(2) {
  background-color: rgb(176, 255, 255);
}
.table tr:nth-child(4) {
  background-color: rgb(176, 255, 255);
}
.table tr:nth-child(6) {
  background-color: rgb(176, 255, 255);
}
