.wrap {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.box {
  background-color: aqua;
  width: 200px;
  height: 200px;
  border: 2px solid;
}
@media screen and (max-width: 780px) {
  body {
    background-color: burlywood;
  }
  .wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box {
    background-color: bisque;
  }
}
